/*VARIBLES*/
:root {
  --BODYTEXTCOLOR: rgb(255, 255, 255);
  --NAVAGATIONTEXTCOLOR: rgb(255, 255, 255);
  --BACKGROUNDCOLOR: rgb(255, 255, 255);
  --BACKGROUNDTRANSPARENCY: 2px;
  --OTHERBACKGROUNDS: rgb(255, 255, 255);
  --BACKGROUNDBLUR: 0px;
  --NAVAGATIONBARCOLOR: rgb(255, 255, 255);
  --SCREENBUTTONCOLOR: rgb(255, 255, 255);
  --FONT: -apple-system, system-ui, Ubuntu, Roboto, "Open Sans", "Segoe UI",
    "Helvetica Neue";
  --BODYSHADOW: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  --MENUBACKGROUND: #0f0f10;
  --MENUDIVBACKGROUND: #1c1c1e;
  --LINEBREAK: rgb(75, 75, 75);
  --MENUTEXT: rgb(195, 194, 194);
  --MENUSHADOW: none;
  --MENUDIVBORDER: #4f4f4f;
  --MENUHEADER: rgb(117, 117, 117);
  --MENUCOLORINPUTBORDER: white;
  --MENUIMAGEUPLOADER: rgb(38, 38, 38);
  --MENUOTHERBACKGROUNDS: gray;
  --MENUCHECKBOXCOLOR: #282828;
  --MENUCHECKBOXCOLORTWO: #555555;
  --TODOLISTBORDER: #4f4f4f;
  --TODOBUTTON: rgb(50, 50, 50);
}

html,
.vx-nav {
  transition: all 0.3s !important;
  -webkit-transition: all 0.3s ease-out !important;
}

body {
  font-family: var(--FONT) !important;
  transition: all 0.3s !important;
}

/*TEXT & HEADING COLOR*/
p,
span,
div,
a,
h1,
h2,
h3,
h4,
h5,
h6,
small,
label,
strong,
li,
td,
i,
::placeholder,
select,
button {
  color: var(--BODYTEXTCOLOR) !important;
}

.heading-text.font-size-small.font-weight-thin,
.heading-text.font-size-medium.font-weight-thin,
.course,
.vx-list__item,
.vx-list__group-header {
  border-bottom: 1px solid var(--BODYTEXTCOLOR) !important;
}

.vx-nav p,
.vx-nav span,
.vx-nav div,
.vx-nav a,
.vx-nav h1,
.vx-nav h2,
.vx-portal-nav__item-link i,
.vx-nav-center__portal i,
.vx-nav-right i {
  color: var(--NAVAGATIONTEXTCOLOR) !important;
}

.main-content,
#page-enrollment-details .enrollment-detail {
  background-color: var(--BACKGROUNDCOLOR) !important;
}

.app-container {
  box-shadow: var(--BODYSHADOW) !important;
}

/*BACKGROUND COLORS*/
.app-container,
#main-content,
#container .class-information .card,
#main nav.something,
.app-container .full-width .with-embed {
  background-color: var(--BACKGROUNDCOLOR) !important;
  border-radius: 10 px;
}

.vx-account-modal,
.vx-account-modal__content {
  background-color: var(--NAVAGATIONBARCOLOR) !important;
}

/*BACKGROUND IMAGE*/
.portal-background {
  background: white !important;
  width: 100% !important;
  height: 100% !important;
  z-index: -2 !important;
}

/*NAVAGATION BAR COLOR*/
.vx-nav,
.vx-nav-center__portal,
.vx-nav-center__portals-button,
.screen-title,
.vx-hover-menu,
.DirectoryCategoryCard,
.DirectoryCard,
.vx-record-header,
nav.primary {
  background: var(--NAVAGATIONBARCOLOR) !important;
}

.vx-nav-center__portal::before,
.vx-nav-center__portal::after {
  border-bottom-color: var(--NAVAGATIONBARCOLOR) !important;
}

.vx-nav-center__triangle-right::after,
.vx-nav-center__triangle-left::after {
  border-color: transparent var(--NAVAGATIONBARCOLOR) transparent
    var(--NAVAGATIONBARCOLOR) !important;
}

.screen-toolbar {
  background: var(----NAVAGATIONBARCOLOR) !important;
  border-radius: 0px 0px 0 0 !important;
  padding: 0px !important;
}

.vx-tab-bar {
  background: var(--NAVAGATIONBARCOLOR) !important;
}

/*EXTRA*/
.meeting-today.today {
  background: none !important;
}

.icon-block,
.component-unread-messages-count,
.vx-button .vx-button--icon .toggle-calendar-button {
  background: rgba(0, 0, 0, 0) !important;
  border: 1px solid var(--BODYTEXTCOLOR) !important;
  padding: 10px;
}

.screen-title {
  padding-left: 10px !important;
}

.vx-badge.notification-badge {
  background: var(--SCREENBUTTONCOLOR);
}

/*BUTTONS*/
.screen-button,
.timeline-item .assignment-due .public {
  background: var(--SCREENBUTTONCOLOR) !important;
}

.vx-tab-bar__tab.vx-tab-bar__tab--active {
  background: var(--SCREENBUTTONCOLOR) !important;
  filter: brightness(105%);
}

.vx-button.vx-button--small.return-to-inbox,
.vx-button.vx-button--small.messages-back-button,
.vx-button.vx-button--small.next-button,
.vx-button.vx-button--small,
.website-admin-timeline .timeline-item .callout,
.website-admin-timeline .timeline h2,
#main nav.something a.selected {
  background: var(--SCREENBUTTONCOLOR) !important;
}

.vx-page-tabs__tab.vx-page-tabs__tab--active {
  background: var(--OTHERTABS) !important;
}

.vx-button {
  background: var(--SCREENBUTTONCOLOR) !important;
}

.day:first-child {
  display: none !important;
}

.day:nth-child(5) {
  display: none !important;
}

.day-header {
  background: none !important;
}

.days,
.day,
.day-header {
  border-color: var(--BODYTEXTCOLOR) !important;
}

.vx-message-banner {
  background-color: var(--NAVAGATIONBARCOLOR) !important;
}

table {
  background: rgba(0, 0, 0, 0) !important;
  border-color: var(--BODYTEXTCOLOR) !important;
}

.vx-list__item.message:hover {
  background-color: var(--NAVAGATIONBARCOLOR) !important;
}

input[type="text"],
select {
  background: var(--SCREENBUTTONCOLOR) !important;
}

.vx-portal-nav__item-link:hover,
.vx-tab-bar__tab:hover,
.vx-portal-nav__item:hover .vx-portal-nav__item-link {
  background-color: var(--NAVAGATIONBARCOLOR) !important;
  filter: brightness(85%);
}

.website-admin-timeline .timeline-item .callout .fa-clock-o {
  background: var(--SCREENBUTTONCOLOR) !important;
}

.website-admin-timeline .timeline-item.assignment-due .badge,
.website-admin-timeline .timeline-item.assignment-assigned .badge {
  background: var(--SCREENBUTTONCOLOR) !important;
  filter: brightness(115%);
}

#container .upcoming--section a:hover {
  background: var(--SCREENBUTTONCOLOR) !important;
  filter: brightness(80%);
}

.website-admin-timeline.public-timeline .filter-links a.active {
  background: var(--SCREENBUTTONCOLOR) !important;
  filter: brightness(90%);
}

.website-admin-timeline.public-timeline .filter-links:nth-child(1) {
  background: var(--SCREENBUTTONCOLOR) !important;
}

#main nav.something a:hover {
  background: var(--SCREENBUTTONCOLOR) !important;
  filter: brightness(90%);
}

#cal .fc-header .fc-button {
  background: var(--SCREENBUTTONCOLOR) !important;
}

#cal .fc-header .fc-button:hover {
  filter: brightness(90%);
}

.messages .message-date {
  background: var(--SCREENBUTTONCOLOR) !important;
}

.component-unread-messages-count:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  filter: brightness(85%) !important;
}

.vx-account-modal__header {
  background: var(--NAVAGATIONBARCOLOR) !important;
}

.vx-list__item:hover {
  background: var(--NAVAGATIONBARCOLOR) !important;
}

.control-calendar .fc-toolbar .fc-button,
#page-enrollment-details .assignment-header .assignment-type,
#page-enrollment-details .section-toolbar,
#page-enrollment-details .enrollment-detail-tabs .active {
  background: var(--SCREENBUTTONCOLOR) !important;
}

.app-container.with-embed {
  background: rgba(0, 0, 0, 0) !important;
}

body.chromeless .container .content {
  background-color: rgba(0, 0, 0, 0) !important;
}

body.chromeless .container,
#page-enrollment-details .assignment {
  border: 1px solid var(--BODYTEXTCOLOR) !important;
}

#page-enrollment-details .group-header {
  border-bottom: 0px !important;
}

.timeline .timeline-records {
  background-color: var(--BACKGROUNDCOLOR) !important;
}

.timeline .timeline-cell.current {
  background-color: var(--SCREENBUTTONCOLOR) !important;
  filter: brightness(80%) !important;
}

.vx-tag--primary,
.vx-tag--blue {
  background-color: var(--SCREENBUTTONCOLOR) !important;
  filter: brightness(80%) !important;
}

.vx-tag--success,
.vx-tag--green {
  background-color: var(--SCREENBUTTONCOLOR) !important;
}

.modal-header {
  background: var(--NAVAGATIONBARCOLOR) !important;
}

#facebox .modal-attributes {
  background-color: var(--BACKGROUNDCOLOR) !important;
}

#planner.timeline .assignment .assignment-type {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0) !important;
}

#planner.timeline .assignment {
  background-color: var(--SCREENBUTTONCOLOR) !important;
}

#planner.timeline .due {
  background-color: var(--SCREENBUTTONCOLOR) !important;
  filter: brightness(85%) !important;
}

#planner.timeline .timeline-row.header,
.timeline .timeline-header-y {
  background-color: var(--NAVAGATIONBARCOLOR) !important;
}

#page-enrollment-details .enrollment-detail-tabs {
  border-bottom: 3px solid var(--SCREENBUTTONCOLOR) !important;
}

#page-enrollment-details .assignment-header .assignment-type {
  border-left: 2px solid var(--SCREENBUTTONCOLOR) !important;
}

#page-enrollment-details .content {
  background: rgba(0, 0, 0, 0) !important;
}

#page-enrollment-details .assignment-header .assignment-grade .raw-score {
  background: var(--SCREENBUTTONCOLOR) !important;
}

#page-enrollment-details .assignment-header .assignment-grade .max-score {
  background-color: var(--SCREENBUTTONCOLOR) !important;
  filter: brightness(85%) !important;
}

#page-enrollment-details .section-toolbar .active {
  background-color: var(--SCREENBUTTONCOLOR) !important;
  filter: brightness(85%) !important;
}

#page-enrollment-details .section-toolbar .filter-updates {
  background-color: var(--SCREENBUTTONCOLOR) !important;
  filter: brightness(115%) !important;
}

#page-enrollment-details .section-toolbar a:hover {
  background-color: var(--SCREENBUTTONCOLOR) !important;
  filter: brightness(70%) !important;
}

#page-enrollment-details .assignment-header:hover {
  background-color: var(--SCREENBUTTONCOLOR) !important;
  filter: brightness(90%) !important;
}

#page-enrollment-details .assignment.open .assignment-body {
  background-color: var(--BACKGROUNDCOLOR) !important;
}

#page-enrollment-details .assignment.open .assignment-header {
  background-color: var(--NAVAGATIONBARCOLOR) !important;
  filter: brightness(90%) !important;
}

/*TIME*/
#time {
  font-size: 4em;
  font-weight: 200;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 0px;
  display: block;
  user-select: none;
  text-shadow: 1px 2px 6px rgb(0, 0, 0, 0.2);
}

#settings {
  position: fixed;
  bottom: 10px;
  width: 40px;
  height: 40px;
  z-index: 102;
  right: 10px;
  transition-duration: 1s;
}

#settings:hover {
  transform: scale(1.2) rotate(-45deg);
  cursor: pointer;
  transition-duration: 1s;
}

#date {
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  margin: 0px auto;
  display: block;
  user-select: none;
  text-shadow: 1px 2px 6px rgb(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  #time {
    margin-top: 70px;
    user-select: none;
  }
}

@media only screen and (max-width: 768px) {
  .vx-portal-nav {
    background: var(--NAVAGATIONBARCOLOR) !important;
  }
}

@media only screen and (max-width: 700px) {
  #settingsScreen {
    width: 100% !important;
    height: 70% !important;
    border-top: 20px solid rgb(24, 24, 24);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  #settingsText {
    text-align: center;
  }
  #backgroundDiv,
  #timeDiv,
  #navDiv,
  #textDiv,
  #buttonDiv {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  body {
    width: 100% !important;
  }
}

#settingsText {
  color: var(--MENUHEADER) !important;
  font-weight: 500;
  display: block;
  padding-right: 20px;
  margin-bottom: 10px;
}

#backgroundDiv,
#textDiv,
#navDiv,
#timeDiv,
#buttonDiv {
  background-color: var(--MENUDIVBACKGROUND);
  width: 300px;
  height: fit-content;
  border-radius: 15px;
  padding: 10px;
  box-shadow: var(--MENUSHADOW);
  border: 1px solid var(--MENUDIVBORDER);
}

#VeraPlusDiv {
  background-color: var(--MENUDIVBACKGROUND);
  width: 300px;
  height: fit-content;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 20px;
  box-shadow: var(--MENUSHADOW);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--MENUDIVBORDER);
}

#backgroundChangeLabel {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  width: fit-content;
  display: inline;
  color: var(--MENUTEXT) !important;
}

#backgroundInput {
  border: 1px solid gray;
  color: var(--MENUTEXT);
  background-color: var(--MENUOTHERBACKGROUNDS) !important;
  display: inline;
  width: 125px;
  height: 30px;
  border-radius: 10px;
}

#backgroundInput:focus {
  background-color: var(--MENUOTHERBACKGROUNDS) !important;
}

#lineBreak {
  height: 1px;
  display: block;
  background-color: var(--LINEBREAK);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-inline: 5px;
}

#blurSlider {
  width: 125px;
  height: 2px;
  margin-left: 11px;
  padding: 0px;
  border: none !important;
  background-color: white !important;
  cursor: grab;
}

#portal-background-blur {
  z-index: -1 !important;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(var(--BACKGROUNDBLUR));
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#settingsScreen .colorSelectors {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-color: rgba(89, 89, 89, 0) !important;
  border: 0px !important;
  width: 32px !important;
}

#settingsScreen .colorSelectors::-webkit-color-swatch-wrapper {
  padding: 0;
}
#settingsScreen .colorSelectors::-webkit-color-swatch {
  border: var(--MENUCOLORINPUTBORDER) solid 1px !important;
  border-radius: 5px;
  box-shadow: var(--MENUSHADOW);
  width: 20px !important;
  height: 20px;
}

.colorSelectors:hover {
  cursor: pointer;
}

#navChangeInput,
#bodyTextChangeInput {
  margin-top: 2px;
}

/* THANK YOU TO https://codeburst.io/pure-css3-input-as-the-ios-checkbox-8b6347d5cefb*/

input[type="checkbox"] {
  position: relative;
  appearance: none;
  outline: none;
  width: 40px;
  height: 24px;
  background-color: var(--MENUCHECKBOXCOLOR);
  border: 1px solid #d9dadc;
  border-radius: 40px;
  box-shadow: inset -16px 0 0 0 var(--MENUCHECKBOXCOLORTWO);
  transition-duration: 200ms;
}

input[type="checkbox"]:hover {
  cursor: pointer;
  filter: brightness(110%);
}

input[type="checkbox"]:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20.8px;
  height: 20.8px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}
input[type="checkbox"]:checked {
  border-color: #3752ff;
  box-shadow: inset 16px 0 0 0 #83aeff;
  background-color: #4e6bff;
}
input[type="checkbox"]:checked:after {
  left: 16px;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

.displayflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

#fontInput {
  -webkit-appearance: none !important;
  appearance: none !important;
  background: var(--MENUOTHERBACKGROUNDS) !important;
  border-radius: 5px !important;
  text-align: center !important;
  height: 25px !important;
}

#imageUploader {
  display: none;
}

#imageUploaderLabel {
  height: 100px;
  width: 270px;
  border-radius: 5px;
  border: 1px dashed rgb(78, 78, 78);
  background: var(--MENUIMAGEUPLOADER);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: var(--MENUTEXT) !important;
  text-align: center;
  padding: 10px;
}

#imageUploaderLabel:hover {
  filter: brightness(120%);
  cursor: pointer;
}

#settingsScreen {
  display: block;
  transform: translate(110%);
  width: 350px;
  padding-right: 25px;
  padding-left: 25px;
  height: 100%;
  right: 0px;
  position: fixed;
  bottom: 0px;
  z-index: 101;
  color: var(--MENUTEXT) !important;
  font-size: 1em !important;
  font-family: -apple-system, system-ui, Ubuntu, Roboto, "Open Sans", "Segoe UI",
    "Helvetica Neue" !important;
  background-color: var(--MENUBACKGROUND);
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: -2px 0px 10px rgb(0, 0, 0);
  transition: 0.3s !important;
}

#calenderScreen {
  display: none;
  width: 100%;
  height: 100%;
  right: 0px;
  position: fixed;
  bottom: 0px;
  background-color: var(--MENUBACKGROUND);
  z-index: 150;
  align-items: center;
  justify-content: center;
}

#settingsScreen select {
  color: var(--MENUTEXT) !important;
}

#calenderButton {
  position: fixed;
  bottom: 10px;
  width: 45px;
  height: 45px;
  z-index: 151;
  left: 8px;
  transition-duration: 1s;
}

#calenderButton:hover {
  transform: scale(1.2) rotate(-10deg);
  cursor: pointer;
  transition-duration: 1s;
}

.vx-tag.message-count,
.component-unread-messages-count .mail-icon .highlight {
  background: var(--SCREENBUTTONCOLOR) !important;
}

#calenderApp {
  background-color: var(--MENUDIVBACKGROUND);
  border: 1px solid var(--MENUDIVBORDER);   
  position: relative;
  box-shadow: var(--MENUSHADOW);
  width: 1000px;
  padding: 30px;
  height: 80%;
  border-radius: 15px;
  margin: 30px;
  margin-left: 0px;
  overflow-y: scroll;
}

#toDoApp {
  background-color: var(--MENUDIVBACKGROUND);
  border: 1px solid var(--MENUDIVBORDER);
  box-shadow: var(--MENUSHADOW);
  width: 300px;
  padding: 30px;
  height: 80%;
  border-radius: 15px;
  margin: 30px;
}

#toDoLabel {
  color: var(--MENUTEXT) !important;
}

#toDoInputDiv {
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-radius: 30px;
  background-color: var(--MENUDIVBACKGROUND);
  border: 0.0625rem solid var(--TODOLISTBORDER);
  margin-bottom: 15px;
  margin-top: 10px;
}

#toDoInput::placeholder {
  color: #80868b !important;
}

#toDoInput {
  flex: 1;
  border: none;
  outline: none;
  background: transparent !important;
  padding: 10px;
  font-weight: 14px;
  color: #80868b !important;
}

#toDoButton {
  border: none;
  outline: none;
  width: 60px;
  color: #adb0b3 !important;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  transition: 0.2s;
  background-color: var(--TODOBUTTON);
}

#toDoList {
  margin: 0px;
  padding: 0px;
  max-height: 80%;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}
#toDoList::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}
#toDoList::-webkit-scrollbar-track {
  background: transparent;
}
#toDoList::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 15px;
  visibility: hidden;
}
#toDoList:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.listItem {
  list-style: none;
  font-size: 17px;
  padding: 12px 0px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: var(--MENUTEXT) !important;
  transition: 0.2s;
  max-width: 235px;
  padding-right: 40px;
  word-wrap: break-word;
  border-radius: 10px;
}

.listItem::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border: 0.1em solid #3c4043;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
  transition: 0.2s;
}

.listItem.checked {
  color: #3c8a57 !important;
  text-decoration: line-through;
  transition: 0.2s;
}

.listItem.checked:before {
  background-image: url(https://cdn-icons-png.flaticon.com/512/5289/5289675.png);
  transition: 0.2s;
  border: 0.1em solid #3c8a57;
}

.listItem span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d13f3f !important;
  font-size: 22px;
  text-align: center;
  line-height: 35px;
  border-radius: 10px;
  transition: 0.2s;
}

.listItem span:hover {
  background-color: #ffd3d3;
  transition: 0.2s;
}

.stand-alone-embed {
  position: relative !important;
  top: 0px !important;
  height: 86vh !important;
}

.app-container.full-width {
  position: relative !important;
  top: 20px !important;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: var(--BODYTEXTCOLOR) !important;
}

.control-calendar .fc-unthemed .fc-day.fc-today {
  background-color: var(--NAVAGATIONBARCOLOR) !important;
}

.vx-modal__content {
  background-color: var(--BACKGROUNDCOLOR) !important;
}

.vx-modal {
  background: transparent !important;
}

.vx-modal__footer {
  background: var(--NAVAGATIONBARCOLOR) !important;
}

.website-admin .blank-slate {
  background: var(--NAVAGATIONBARCOLOR) !important;
}

.selectize-control.single .selectize-input,
.selectize-dropdown.single {
  background: var(--SCREENBUTTONCOLOR) !important;
}

#planner.timeline .timeline-row.header .count {
  background: var(--SCREENBUTTONCOLOR) !important;
}

#facebox .body {
  background: var(--SCREENBUTTONCOLOR) !important;
}

#assignmentDaysDiv {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
  background-color: rgb(23, 23, 23);
  display: flex;
  justify-content: flex-end;
  justify-items: center;
}

.assignmentDaysText {
  color: var(--MENUTEXT) !important;
  font-size: 20px;
  text-align: center;
  width: 150px;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: 1px solid var(--MENUDIVBORDER);
  word-spacing: 80px;
}

.assignmentDaysText:first-child {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#assignmentCellDiv {
  width: 900px;
  height: 55vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, calc(55vh/7));
  grid-row-gap: 0px;
}

.assignmentCell {
  width: 150px;
  height: 100%;
  background-color: transparent;
  border: 1px solid var(--MENUDIVBORDER);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden !important;
  overflow-wrap: break-word;
}

.new-assignment {
  z-index: 220;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 90%;
  border-radius: 15px;
  background-color: var(--MENUBACKGROUND);
  border: 1px solid var(--MENUDIVBORDER);
}

.new-assignment-overlay {
  z-index: 210;
  background-color: rgba(0, 0, 0, 0.4) !important;
  position: absolute;
  width: 100%;
  height: 100%;
}

.assignmentCellSpecial {
  width: 150px;
  height: 100%;
  background-color: rgb(23, 23, 23);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--MENUDIVBORDER);
  color: var(--MENUTEXT) !important;
  font-size: 20px;
}

#create_new_assignment_title {
  border: none;
  outline: none;
  background-color: rgb(31, 31, 31) !important;
  color: #80868b !important;
  padding: 10px;
  font-weight: 14px;
  border: 1px solid var(--MENUDIVBORDER);
  width: 90%;
  height: 10%;
  border-radius: 15px;
  margin: 20px;
}
#create_new_assignment_title::placeholder {
  color: #80868b !important;
}

#create_new_assignment_description {
  border: none;
  outline: none;
  background-color: rgb(31, 31, 31) !important;
  color: #80868b !important;
  padding: 10px;
  font-weight: 14px;
  border: 1px solid var(--MENUDIVBORDER);
  width: 90%;
  border-radius: 15px;
  margin: 10px;
  margin-top: 0px;
  height: 70%;
}

#create_new_assignment_description::placeholder {
  color: #80868b !important;
}

#create_new_assignment_button {
  border: var(--MENUDIVBORDER);
  outline: none;
  width: 60px;
  color: #adb0b3 !important;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  margin-left: 70px;
  margin-right: 70px;
  transition: 0.2s;
  background-color: var(--TODOBUTTON);
}

#assignmentArrowDiv {
  position: absolute;
  bottom: 5px;
  width: 90%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

#assignmentBackArrow,
#assignmentFrontArrow {
  color: var(--MENUTEXT) !important;
  padding: 10px;
  cursor: pointer;
}

#assignmentBackArrow:hover,
#assignmentFrontArrow:hover {
  background-color: gray;
  border-radius: 50px;
}

#create_new_assignment_button_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  margin-top: 5%;
  margin-bottom: 10px;
}

#create_new_assignment_button_two {
  border: var(--MENUDIVBORDER);
  outline: none;
  width: 60px;
  color: #ff9797 !important;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  margin-left: 70px;
  margin-right: 70px;
  transition: 0.2s;
  background-color: var(--TODOBUTTON);
}

.create_new_assignment_box {
  width:90%;
  height:fit-content;
  margin:auto;
  margin-top:7px;
  margin-bottom:7px;
  background-color: var(--MENUBACKGROUND);
  border: 1px solid var(--MENUDIVBORDER);
  text-align: center;
  padding:3px;
}

.assignment-pop-up-label {
  color: var(--MENUTEXT) !important;
  margin:auto;
  margin-top:10px;
  margin-bottom: 10px;
  font-size: 32px;
}

.assignment-pop-up-description {
  color: var(--MENUTEXT) !important;
  margin:auto;
  margin-top:10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.new-pop-up-assignment {
  z-index: 220;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: fit-content;
  border-radius: 15px;
  background-color: var(--MENUBACKGROUND);
  border: 1px solid var(--MENUDIVBORDER);
}
.assignment-pop-up-button {
  display: inline;
  transform: translate(250px,-600%);
  border: var(--MENUDIVBORDER);
  outline: none;
  width: fit-content;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.2s;
  background-color: var(--TODOBUTTON);
}


.assignment-pop-up-delete {
  border: var(--MENUDIVBORDER);
  outline: none;
  width: 60px;
  color: #ff9797 !important;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  margin-left: 70px;
  margin-right: 70px;
  transition: 0.2s;
  background-color: var(--TODOBUTTON);
}
